@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

@font-face {
    font-family: 'Handglove';
    src: url('fonts/handglove.woff2') format('woff2'),
         url('fonts/handglove.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('fonts/alegreya-sans.woff2') format('woff2'),
         url('fonts/alegreya-sans.woff') format('woff');
}

body {
    font-family:  'Alegreya Sans', 'handglove', "Roboto Mono", monospace, "Exo 2", 'Arial', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

h1 {
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    margin: 1em 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d2356;
    color: white;
    height: 85vh;
    position: relative;
    overflow: hidden;
}

.header-text {
    width: 66.67%;
    text-align: left;
    margin-right: 500px;
}

header p, header h1, header h3 {
    margin-left: 66.67%;
    text-align: left;  
    z-index: 1;
    position: relative;
    margin-bottom: 10px;
}

header img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    opacity: 1;
    transition: opacity 500ms ease 0s;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;  
    background-color: #0d2356;
}

nav.scrolled {
    background-color: #0074d9;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:last-child {
    margin-right: 40px;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav ul a:hover {
    color: #f9f9f9;
}

section {
    margin: 50px 10px;
    background: white;
    border-radius: 10px;
    padding: 10px 50px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

section a {
    color: #0074d9;
    transition: color 0.3s ease;
}

section a:hover {
    color: #0d2356;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

#about-skills-container {
    margin: 0;
    padding: 0;
    display: flex;
    background: none;
    border: none;
    box-shadow: none;
    margin-bottom: 5px;
}

#about {
    width: 80%;
    margin-right: 20px; 
}

#skills {
    width: 20%;
    margin-left: 20px;
    border: none;  
}

#contact p {
    text-indent: 20px; /* Adjust the indentation value as needed */
}

button {
    padding: 10px;
    color: white;
    background-color: #0074d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0d2356;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-icons ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills-icons li {
    position: relative;
    margin: 0 10px;
}

.skills-icons img {
    height: 50px;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.skills-icons li:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

#portfolio {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.project {
    flex: 1 0 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.song-info span:not(:last-child) {
    display: inline-block;
    margin-left: 20px;
  }
.song-info img {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .song-info button {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
  }

@media screen and (max-width: 1475px) {
    #profile-pic {
        opacity: 0.5;
    }
    
}
@media screen and (max-width: 660px) {
    .header-text {
        text-align: center;
        width: 100%; /* ensure the container takes full width */
        margin: 0; /* remove any margin that might be pushing it off the screen */
        padding: 20px; /* add some padding around the text */

    }  
    .header-text p, .header-text h1, .header-text h3 {
        margin: 0; /* reset the margin */
        padding: 10px 0; /* add some vertical padding */
        line-height: 1.4; /* adjust line-height as necessary */
    }
        #profile-pic {
            display: none; /* hides the header image */
        }
       
        }
