/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@font-face {
    font-family: 'Handglove';
    src: url('fonts/handglove.woff2') format('woff2'),
         url('fonts/handglove.woff') format('woff');
    font-family: 'Alegreya Sans';
         src: url('fonts/alegreya-sans.woff2') format('woff2'),
              url('fonts/alegreya-sans.woff') format('woff');
}
body {
    font-family:  'Alegreya Sans', handglove, "Roboto Mono", monospace, "Exo 2", 'Arial', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d2356;
    color: white;
    height: 85vh;
    position: relative; /* Add position relative */
    overflow: hidden; /* Add overflow hidden to hide any overflow */
}

#profile-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text {
    width: 66.67%;
    text-align: left;
    margin-right: 500px; /* adjust this value as needed */
}

header p, h1, header h3 {
    margin-left: 66.67%;  /* This pushes the heading to start from 2/3rds of the container's width */
    text-align: left;  
    z-index: 1;  /* Make it appear above the image */
    position: relative; /* Required to make z-index work */
    margin-bottom: 10px; /* adjust this value as needed */
}
header img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    opacity: 1;
    transition: opacity 500ms ease 0s;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: 1em 0;
}
h1, h2 {
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
}
nav {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;  
        background-color: #0d2356;
}
nav.scrolled {
    background-color: #0074d9; /* The original color */
}

nav ul.scrolled {
    background-color: #0074d9; /* The original color */
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 10px 0;
}
nav ul li {
    margin-left: 20px; /* Adjust as necessary for your preferred spacing */
}

nav ul li:last-child {
    margin-right: 40px; /* Adjust as necessary for your preferred spacing */
}

nav ul a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav ul a:hover {
    color: #f9f9f9;
}

section {
    margin: 50px 10px;
    background: white;
    border-radius: 10px;
    padding: 10px 50px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

section a {
    color: #0074d9; /* Chase blue color */
    transition: color 0.3s ease;
}

section a:hover {
    color: #0d2356; /* Chase dark blue color */
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

#about-skills-container {
    display: flex;

  }

#about {
    width: 80%; /* Adjust the width as needed */
    margin-right: 20px; 

  }
  
 #skills {
    width: 20%; /* Adjust the width as needed */
    margin-left: 20px;
  }

button {
    padding: 10px;
    color: white;
    background-color: #0074d9; /* Chase blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0d2356; /* Chase dark blue color */
}
.skills-icons {
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap property */
    justify-content: space-around;
}

.skills-icons ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap property */

}

.skills-icons li {
    position: relative;
    margin: 0 10px; /* Adjust the margin as needed */

}

.skills-icons img {
    height: 50px; /* adjust this to change the height of the icons */
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.skills-icons li:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .project-container {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .project {
    flex: 1 0 300px; /* Set a fixed width for each project */
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  }


.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
@media only screen and (max-width: 600px) {
        .skills-icons ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .skills-icons li {
        margin: 10px 5px; /* Adjust the margin as needed for smaller screens */
    }
    nav ul {
        flex-direction: column;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    nav ul a {
        font-size: 1em;
    }
    @media screen and (max-width: 1553px) {
        .header-text {
            position: absolute;
            top: 50%;  /* Adjust as needed */
            left: 50%;  /* Adjust as needed */
            transform: translate(-50%, -50%);
            z-index: -1;
            color: white; /* Optional: Change text color for better visibility */
        }
        #profile-pic {
            z-index: 1; /* This will place the image above the text */
        }
}
}
#contact p {
    text-indent: 50px; /* Add indentation to the paragraph */
}